# Управляется ansible (роль torrserver). TG-алерты детектора утечки секрета.
BOT_TOKEN='{{ torrserver_telegram_bot_token }}'
CHAT_ID='{{ torrserver_telegram_chat_id }}'
SECRETPATH='{{ torrserver_secret }}'
