- name: Call firewall role with dynamic rules
  ansible.builtin.include_role:
    name: common
    tasks_from: firewall.yml
  vars:
    common_required_rules:
      - "-A INPUT -p tcp -m tcp --dport {{ manage_beszel_port }} -j ACCEPT"
