# IDE files
ansible.code-workspace
*.vscode

# System files
.DS_Store
Thumbs.db
*.swp
*~

# Ansible artifacts
.retry
*.tmp

# Environment files
*.pem
*.key
*.env

# Logs
*.log

#TO DO
*.todo

.ansible

# Исключаем сгенерированные конфигурации
configs/*

# Игнорируем всё в папках data_*
data_*/**

# Но оставляем .gitkeep в этих папках
!data_*/.gitkeep

# Ansible artifacts
roles/semaphore/files/database.sqlite

# Исключаем файлы с секретами (незашифрованные)
.vault