[submodule "inventory"]
	path = inventory
	url = https://github.com/0x3654/ansible-inventory.git
[submodule "3x-ui-sub"]
	path = roles/subnginx3xui/files/3x-ui-sub
	url = https://github.com/0x3654/nginx-3x-ui-subscription-proxy.git
[submodule "vpnserver"]
	path = roles/vpnserver/files/vpnserver
	url = https://github.com/0x3654/vpnserver.git
[submodule "roles/homelab/files/homelab"]
	path = roles/homelab/files/homelab
	url = https://github.com/0x3654/homelab.git
