[submodule "inventory"]
	path = inventory
	url = https://github.com/0x3654/ansible-inventory.git
[submodule "3x-ui-sub"]
	path = roles/subnginx3xui/files/3x-ui-sub
	url = https://github.com/0x3654/nginx-3x-ui-subscription-proxy.git
[submodule "vpnserver"]
	path = roles/vpnserver/files/vpnserver
	url = https://github.com/0x3654/vpnserver.git
[submodule "roles/mediaserver/files/mediaserver"]
	path = roles/mediaserver/files/mediaserver
	url = https://github.com/0x3654/mediaserver.git
