---
subscription:
  suburl: "https://{{ subnginx3xui_sub_all_url }}:{{ subnginx3xui_sub_all_port }}/{{ subnginx3xui_sub_all_path }}/{{ subnginx3xui_inbound_sub_id }}"
  suburl_ru: "https://{{ subnginx3xui_sub_all_url }}:{{ subnginx3xui_sub_all_port }}/{{ subnginx3xui_sub_all_path }}/{{ subnginx3xui_inbound_sub_id_ru }}"