#======================= Global Settings =======================

[global]
   workgroup = WORKGROUP
   security = user
   map to guest = never
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 1000
   syslog = 0
   panic action = /usr/share/samba/panic-action %d
   server role = standalone server
   passdb backend = tdbsam
   printing = cups
   printcap name = cups
   cups options = raw
   create mask = 0775
   directory mask = 2775
   read only = no
   guest ok = no
   browseable = yes

#======================= Shares =======================

{% for bind in homelab_media_binds %}
{% set sharename = inventory_hostname + '_' + bind.split(':')[1].split('/')[-1] %}
[{{ sharename }}]
   path = {{ bind.split(':')[0] }}/
   read only = no
   browseable = yes
   guest ok = no
   valid users = {{ homelab_samba_user }}
   force group = media
   force create mode = 0775
   force directory mode = 2775
{% endfor %}