- name: 3x-ui Extract values from config
  block:
    - name: Read config file content
      ansible.builtin.slurp:
        path: "{{ playbook_dir }}/../configs/3x-ui_{{ domain_name }}.yml"
      register: vpnserver_config_content
      delegate_to: localhost

    - name: Parse YML config
      ansible.builtin.set_fact:
        vpnserver_config_yaml: "{{ vpnserver_config_content['content'] | b64decode | from_yaml }}"

    - name: Extract values from YML
      ansible.builtin.set_fact:
        vpnserver_web_port: "{{ vpnserver_config_yaml.panel.url | regex_search('https://.*:(\\d+)/', '\\1') | first }}"
        vpnserver_sub_port: "{{ vpnserver_config_yaml.subscription.suburl | regex_search('https://.*:(\\d+)/', '\\1') | first }}"

    - name: Call firewall role with dynamic rules
      ansible.builtin.include_role:
        name: common
        tasks_from: firewall.yml
      vars:
        common_required_rules:
          - "-A INPUT -p tcp -m tcp --dport {{ ssh_port | default(22) }} -j ACCEPT"
          - "-A INPUT -p tcp -m tcp --dport {{ https_port | default(443) }} -j ACCEPT"
          # - "-A INPUT -p tcp -m tcp --dport {{ http_port | default(80) }} -j ACCEPT"
          # - "-A INPUT -p tcp -m tcp --dport {{ vpnserver_web_port }} -j ACCEPT"
          - "-A INPUT -p tcp -m tcp --dport {{ vpnserver_sub_port }} -j ACCEPT"
          - "-A INPUT -p udp -m udp --dport {{ amnezia_wg_port | default(51820) }} -j ACCEPT"
      tags: [firewall]
