---
- name: Import APT management tasks
  ansible.builtin.import_tasks: apt.yml
  tags: [apt, upgrade]

- name: Configure sub-nginx for 3x-ui
  tags: [sub_nginx_3xui]
  block:
    - name: Import certbot tasks
      ansible.builtin.import_tasks: certbot.yml

    - name: Find all 3x-ui config files
      ansible.builtin.find:
        paths: "{{ playbook_dir }}/../configs"
        patterns: "3x-ui_*.yml"
      register: subnginx3xui_config_files
      delegate_to: localhost

    - name: Extract suburls from config files
      no_log: true
      ansible.builtin.slurp:
        src: "{{ subnginx3xui_current_config_file.path }}"
      register: subnginx3xui_config_contents
      loop: "{{ subnginx3xui_config_files.files }}"
      loop_control:
        loop_var: subnginx3xui_current_config_file
      delegate_to: localhost

    - name: Set vpn_servers_sub variable
      ansible.builtin.set_fact:
        subnginx3xui_vpn_servers_sub: >-
          {%- set suburls = [] -%}
          {%- for content in subnginx3xui_config_contents.results -%}
            {%- if content.content is defined -%}
              {%- set config = content.content | b64decode | from_yaml -%}
              {%- if config.subscription is defined and config.subscription.suburl is defined -%}
                {%- set url = config.subscription.suburl -%}
                {%- set url_parts = url.split('/') -%}
                {%- set base_url = url_parts[:-1] | join('/') + '/' -%}
                {%- set _ = suburls.append(base_url) -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          {{ suburls | join(' ') }}

    - name: Import file copy tasks
      ansible.builtin.import_tasks: filescopy.yml

    - name: Force handlers to run after file copy
      ansible.builtin.meta: flush_handlers

    - name: Restart nginx proxy to reload .env configuration
      ansible.builtin.command:
        cmd: "{{ common_compose_command | default('docker compose') }} restart nginx"
        chdir: "{{ subnginx3xui_path }}"
      register: subnginx3xui_restart_result
      changed_when: subnginx3xui_restart_result.rc == 0

    - name: Read .env file
      ansible.builtin.slurp:
        src: "{{ subnginx3xui_nginx_proxy_sub }}/.env"
      register: subnginx3xui_env_file

    - name: Parse .env file
      ansible.builtin.set_fact:
        subnginx3xui_env_vars: >-
          {{ subnginx3xui_env_file.content | b64decode
          | regex_replace('^#.*$', '')
          | regex_replace('\n+', '\n')
          | regex_replace('^\n', '')
          | regex_replace('\n$', '')
          | regex_replace('=', ': ')
          | from_yaml
          }}

    - name: Get inbound_sub_id from vpn_servers role
      ansible.builtin.set_fact:
        subnginx3xui_inbound_sub_id: "{{ vpnserver_inbound_sub_id }}"
        subnginx3xui_inbound_sub_id_ru: "{{ vpnserver_inbound_sub_id_ru }}"

    - name: Create all subs config file
      ansible.builtin.template:
        src: all_subs.yml.j2
        dest: "{{ playbook_dir }}/../configs/all_3x-ui_sub.yml"
        mode: "0644"
      vars:
        all_configs: "{{ subnginx3xui_config_contents }}"
      delegate_to: localhost
