---
# Copy to vars/secrets.yml and encrypt: ansible-vault encrypt vars/secrets.yml

# sudo password on new Mac
ansible_become_password: "..."

# Public key of old Mac (for Ansible access to new Mac)
# macbook_authorized_keys: "ssh-ed25519 AAAA... m@mba"
