---
- name: Set firewall rules for untilwall
  block:
    - name: Define firewall rules
      ansible.builtin.set_fact:
        untilwall_firewall_rules:
          - "-A INPUT -p tcp -m tcp --dport {{ ssh_port | default(22) }} -j ACCEPT"
          - "-A INPUT -p tcp -m tcp --dport 443 -j ACCEPT"
          - "-A INPUT -p tcp -s 127.0.0.1 --dport 80 -j ACCEPT"

    - name: Call firewall role with dynamic rules
      ansible.builtin.include_role:
        name: common
        tasks_from: firewall.yml
      vars:
        common_required_rules: "{{ untilwall_firewall_rules }}"
      tags: [firewall]
