---
- name: Docker down 3xuiproxy
  ansible.builtin.command: "{{ common_compose_command | default('docker compose') }} down"
  args:
    chdir: "{{ subnginx3xui_path }}"
  register: subnginx3xui_compose_down_result
  changed_when: >-
    subnginx3xui_compose_down_result.stdout is search('Removing')
    or subnginx3xui_compose_down_result.stdout is search('Stopped')
  failed_when: false
  listen: docker down subnginx3xui

- name: Docker up 3xuiproxy
  ansible.builtin.command: "{{ common_compose_command | default('docker compose') }} up -d"
  args:
    chdir: "{{ subnginx3xui_path }}"
  register: subnginx3xui_compose_up_result
  changed_when: >-
    subnginx3xui_compose_up_result.stdout is search('Creating')
    or subnginx3xui_compose_up_result.stdout is search('Recreating')
    or subnginx3xui_compose_up_result.stdout is search('Starting')
  listen: docker up subnginx3xui
