# SPDX-License-Identifier: MIT-0
---
# handlers file for vpn_servers

- name: Restart docker amneziawg
  ansible.builtin.command: "{{ common_compose_command | default('docker compose') }} down && {{ common_compose_command | default('docker compose') }} up -d"
  args:
    chdir: "{{ amneziawg_path }}"
  register: vpnserver_compose_result
  changed_when: >-
    vpnserver_compose_result.stdout is search('Creating')
    or vpnserver_compose_result.stdout is search('Recreating')
    or vpnserver_compose_result.stdout is search('Starting')

- name: Restart docker fail2ban
  ansible.builtin.command: "{{ common_compose_command | default('docker compose') }} down && {{ common_compose_command | default('docker compose') }} up -d"
  args:
    chdir: "{{ fail2ban_path }}"
  register: vpnserver_compose_result
  changed_when: >-
    vpnserver_compose_result.stdout is search('Creating')
    or vpnserver_compose_result.stdout is search('Recreating')
    or vpnserver_compose_result.stdout is search('Starting')

- name: Docker down vpnserver
  ansible.builtin.command: "{{ common_compose_command | default('docker compose') }} down"
  args:
    chdir: "{{ vpnserver }}"
  register: vpnserver_compose_down_result
  changed_when: >-
    vpnserver_compose_down_result.stdout is search('Removing')
    or vpnserver_compose_down_result.stdout is search('Stopped')
  ignore_errors: true

- name: Docker up vpnserver
  ansible.builtin.command: "{{ common_compose_command | default('docker compose') }} up -d"
  args:
    chdir: "{{ vpnserver }}"
  register: vpnserver_compose_up_result
  changed_when: >-
    vpnserver_compose_up_result.stdout is search('Creating')
    or vpnserver_compose_up_result.stdout is search('Recreating')
    or vpnserver_compose_up_result.stdout is search('Starting')

- name: Stop docker 3x-ui
  community.docker.docker_container:
    name: 3x-ui
    state: stopped

- name: Start docker 3x-ui
  community.docker.docker_container:
    name: 3x-ui
    state: started
