---

- name: Add Docker repository
  when: install_docker_repo | default(false) | bool
  block:
    - name: Ensure /etc/apt/keyrings exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'
      register: common_docker_key_result

    - name: Add Docker GPG key to keyrings
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
      register: common_docker_key_result

    - name: Add Docker repository with Signed-By
      ansible.builtin.apt_repository:
        repo: >
          deb [arch={{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}
          signed-by=/etc/apt/keyrings/docker.asc]
          https://download.docker.com/linux/{{ ansible_distribution | lower }}
          {{ ansible_distribution_release }} stable
        state: present
        filename: docker
      register: common_docker_repo_result
      changed_when: common_docker_key_result.changed or common_docker_repo_result.changed

- name: APT update, upgrade, and install packages
  when: ansible_facts['pkg_mgr'] == 'apt'
  block:
    - name: APT Dist upgrade
      ansible.builtin.apt:
        upgrade: dist

    - name: APT Install required packages
      ansible.builtin.apt:
        name: "{{ common_required_packages }}"
        state: present

- name: Check docker compose availability
  ansible.builtin.command: docker compose version
  register: common_docker_compose_check
  failed_when: false
  changed_when: false

- name: Set compose_command fact
  ansible.builtin.set_fact:
    common_compose_command: "{{ 'docker compose' if common_docker_compose_check.rc == 0 else 'docker-compose' }}"
