---
- name: Check if folder user exists
  ansible.builtin.getent:
    database: passwd
    key: "{{ common_folder_user | default('root') }}"
  register: common_folder_user_exists
  failed_when: false

- name: Create folder user if not exists
  ansible.builtin.user:
    name: "{{ common_folder_user | default('root') }}"
    state: present
    system: false
    create_home: true
    shell: /bin/bash
  when: common_folder_user_exists.ansible_facts.getent_passwd is not defined
  become: true
  register: common_folder_user_created

- name: Get folder user info (UID and GID)
  ansible.builtin.getent:
    database: passwd
    key: "{{ common_folder_user | default('root') }}"
  register: common_folder_user_info
  when: common_folder_user_exists.ansible_facts.getent_passwd is defined or common_folder_user_created is changed

- name: Set folder user UID and GID variables
  ansible.builtin.set_fact:
    common_folder_user_uid: "{{ common_folder_user_info.ansible_facts.getent_passwd[common_folder_user | default('root')][1] }}"
    common_folder_user_gid: "{{ common_folder_user_info.ansible_facts.getent_passwd[common_folder_user | default('root')][2] }}"
  when: common_folder_user_info.ansible_facts.getent_passwd is defined


- name: Process files and directories
  tags: [files_copy]
#  no_log: true
  block:
    - name: Create directories tree
      when: directory.state == 'directory'
      ansible.builtin.file:
        path: '{{ common_path }}/{{ directory.path }}'
        state: directory
        owner: '{{ ansible_user | d("root") }}'
        group: '{{ ansible_user | d("root") }}'
        mode: "{{ common_directory_mode | default('0755') }}"
      with_community.general.filetree: '{{ common_files_source_dir | default("files/") }}'
      loop_control:
        loop_var: directory

      notify:
        - '{{ common_down_handler_name }}'
        - '{{ common_up_handler_name }}'

    - name: Copy files
      when:
        - file.state == 'file'
        - not file.path.endswith('.DS_Store')
      ansible.builtin.template:
        src: '{{ file.src }}'
        dest: >-
          {{ common_path }}/{{ file.path }}
        mode: "{{ file.mode | d(common_file_mode | default('0644')) }}"
      with_community.general.filetree: '{{ common_files_source_dir | default("files/") }}'
      loop_control:
        loop_var: file
      notify:
        - '{{ common_down_handler_name }}'
        - '{{ common_up_handler_name }}'

    - name: Set files permissions
      when:
        - file.state == 'file'
        - not file.path.endswith('.DS_Store')
      ansible.builtin.file:
        path: '{{ common_path }}/{{ file.path }}'
        owner: '{{ ansible_user | d("root") }}'
        group: '{{ ansible_user | d("root") }}'
        mode: "{{ file.mode | d(common_file_mode | default('0644')) }}"
      with_community.general.filetree: '{{ common_files_source_dir | default("files/") }}'
      loop_control:
        loop_var: file
      notify:
        - '{{ common_down_handler_name }}'
        - '{{ common_up_handler_name }}'

- name: Force handlers to run
  ansible.builtin.meta: flush_handlers
