- name: Set default values for rule lists
  ansible.builtin.set_fact:
    common_required_rules: "{{ common_required_rules | default([]) }}"
    common_prohibited_rules: "{{ common_prohibited_rules | default([]) }}"

- name: Get current iptables rules
  ansible.builtin.shell: iptables-save
  register: common_current_rules
  changed_when: false

- name: Check which rules are missing
  ansible.builtin.set_fact:
    common_missing_rules: "{{ common_required_rules | difference(common_current_rules.stdout_lines) }}"
    common_extra_rules: "{{ common_prohibited_rules | intersect(common_current_rules.stdout_lines) }}"

- name: Add missing iptables rules
  when: common_missing_rules | length > 0
  ansible.builtin.shell: iptables {{ rule_data }}
  loop: "{{ common_missing_rules }}"
  changed_when: true
  loop_control:
    loop_var: rule_data

- name: Delete extra iptables rules
  when: common_extra_rules | length > 0
  ansible.builtin.shell: iptables {{ item | regex_replace('^-A', '-D') }}
  loop: "{{ common_extra_rules }}"
  changed_when: true

- name: Save iptables rules using netfilter-persistent
  when: (common_missing_rules | length > 0) or (common_extra_rules | length > 0)
  block:
    - name: Install netfilter-persistent
      ansible.builtin.apt:
        name: netfilter-persistent
        state: present
        update_cache: true

    - name: Enable and start netfilter-persistent
      ansible.builtin.systemd:
        name: netfilter-persistent
        enabled: true
        state: started

    - name: Save
      ansible.builtin.command: netfilter-persistent save
      changed_when: true
