---
- name: Set firewall rules for {{ role_name }}
  block:
    - name: Define firewall rules
      ansible.builtin.set_fact:
        {{ role_name }}_firewall_rules:
          - "-A INPUT -p tcp -m tcp --dport {{ ssh_port | default(22) }} -j ACCEPT"
          - "-A INPUT -p tcp --dport 443 -j ACCEPT"

    - name: Call firewall role with dynamic rules
      ansible.builtin.include_role:
        name: common
        tasks_from: firewall.yml
      vars:
        common_required_rules: "{{ {{ role_name }}_firewall_rules }}"
      tags: [firewall]
