services:
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    network_mode: host
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 4 * * *
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_REVIVE_STOPPED=false
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME={{ ansible_host }}
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      # Notification URL for Telegram (configure with actual values)
      - 'WATCHTOWER_NOTIFICATION_URL=telegram://{{tg_wt_bot_token}}@telegram/?channels={{tg_wt_chat_id}}'
    restart: unless-stopped
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    environment:
      AUTOHEAL_CONTAINER_LABEL: autoheal
      AUTOHEAL_INTERVAL: 5
      AUTOHEAL_START_PERIOD: 5
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: 10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
