---
# Playbook for CI/CD deployment of untilwall
# Triggered by changes in untilwall repository
- name: Deploy untilwall with testing and rollback
  hosts: untilwall_role
  vars:
    ansible_roles_path: "{{ playbook_dir }}/../roles"
  pre_tasks:
    - name: Include untilwall role vars
      ansible.builtin.include_vars: "{{ item }}"
      loop:
        - "{{ ansible_roles_path }}/untilwall/vars/main.yml"
        - "{{ ansible_roles_path }}/untilwall/vars/secrets.yml"
        - "{{ ansible_roles_path }}/untilwall/defaults/main.yml"
        - "{{ ansible_roles_path }}/common/vars/main.yml"
      failed_when: false
      delegate_to: localhost
      tags: [always]

    - name: Load host_vars if exists
      ansible.builtin.include_vars: "{{ playbook_dir }}/../host_vars/{{ inventory_hostname }}.yml"
      failed_when: false
      tags: [always]

  tasks:
    - name: Run untilwall deployment
      ansible.builtin.include_role:
        name: untilwall
        tasks_from: deploy.yml
      tags: [deploy]
